.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 20px var(--padding-page-horizontal);
    background-color: #1a1a1a;
}

.menu {
    text-align: right;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: medium;
}